AddDefaultCharset UTF-8

RewriteRule ^about?$ about.php [NC, L]
RewriteRule ^check?$ check.php [NC, L]
RewriteRule ^404?$ 404.php [NC, L]

ErrorDocument ммпеиму4 ц4у                                                                                                       ам 404 /404.php